/* Webfont: MakeSans-Black */
@font-face {
  font-family: "MakeSansBlack";
  src: url("/fonts/MakeSans/MakeSans-Black.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-Black.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MakeSans-Bold */
@font-face {
  font-family: "MakeSans";
  src: url("/fonts/MakeSans/MakeSans-Bold.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-Bold.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: MakeSans-ExtraBold */
@font-face {
  font-family: "MakeSansExtBd";
  src: url("/fonts/MakeSans/MakeSans-ExtraBold.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-ExtraBold.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MakeSans-Light */
@font-face {
  font-family: "MakeSansLight";
  src: url("/fonts/MakeSans/MakeSans-Light.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-Light.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MakeSans-Medium */
@font-face {
  font-family: "MakeSansMed";
  src: url("/fonts/MakeSans/MakeSans-Medium.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-Medium.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MakeSans-Regular */
@font-face {
  font-family: "MakeSans";
  src: url("/fonts/MakeSans/MakeSans-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-Regular.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: MakeSans-SemiBold */
@font-face {
  font-family: "MakeSansSemBd";
  src: url("/fonts/MakeSans/MakeSans-SemiBold.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/MakeSans/MakeSans-SemiBold.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
